---
import type { CollectionEntry } from 'astro:content'
import type { HTMLAttributes } from 'astro/types'

import { Icon } from 'astro-icon/components'
import { getRelativeLocaleUrl } from 'astro:i18n'

import { getLocale, t } from '@/app/i18n'
import TypographyH1 from '@/shared/ui/typography/typography-h1.astro'
import TypographySpan from '@/shared/ui/typography/typography-span.astro'

import AlertNoteUntranslated from './alert-note-untranslated.astro'

interface Props extends HTMLAttributes<'header'> {
  note: CollectionEntry<'notes'>
}

const { class: className, note, ...props } = Astro.props

const locale = getLocale(Astro.currentLocale)
const dateFormatter = new Intl.DateTimeFormat(locale, { day: 'numeric', month: 'long', year: 'numeric' })
---

<header class:list={['flex flex-col items-start gap-2', className]} {...props}>
  <a class="text-fg focus-ring flex items-center gap-0.75 no-underline" href={getRelativeLocaleUrl(locale, '/notes')}>
    <Icon name="arrow-left" aria-hidden="true" />
    <TypographySpan>{t(Astro.currentLocale, 'backToNotes')}</TypographySpan>
  </a>

  <TypographyH1>{note.data.title}</TypographyH1>
  <TypographySpan class="text-fg-subtle text-sm">
    <time datetime={note.data.publishingDate.toISOString()}>{dateFormatter.format(note.data.publishingDate)}</time>
    {
      note.data.lastModified && (
        <span class="bg-highlight text-highlight-fg">
          {'(' + t(Astro.currentLocale, 'lastUpdated')}{' '}
          <time datetime={note.data.lastModified.toISOString()}>
            {dateFormatter.format(note.data.lastModified) + ')'}
          </time>
        </span>
      )
    }
  </TypographySpan>
  {note.data.isUntranslated && <AlertNoteUntranslated class="mt-2" />}
</header>
