---
import type { HTMLAttributes } from 'astro/types'

import { Icon } from 'astro-icon/components'

import { getLocale } from '@/app/i18n'
import { getRssUrl } from '@/shared/functions/getRssUrl'
import TypographySpan from '@/shared/ui/typography/typography-span.astro'

interface Props extends HTMLAttributes<'a'> {}

const { class: className, ...props } = Astro.props
const locale = getLocale(Astro.currentLocale)
const siteOrigin = Astro.site?.origin ?? ''
---

<a
  target="_blank"
  href={getRssUrl(siteOrigin, locale)}
  class:list={['text-fg focus-ring inline-flex items-center gap-0.5 no-underline', className]}
  {...props}
>
  <Icon name="rss" aria-hidden="true" class="h-4 max-w-4" />
  <TypographySpan class="leading-1">RSS</TypographySpan>
</a>
