.button {
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  background: var(--color-button-bg-origin);
  color: var(--color-button-text-origin);
  cursor: pointer;
  font-family: var(--font-family-main);
}

@media (hover: hover) {
  .button:not(:disabled):hover {
    background: var(--color-button-bg-hover);
    color: var(--color-button-text-hover);
  }
}

.button:not(:disabled):active {
  background: var(--color-button-bg-active);
  color: var(--color-button-text-active);
}

.button:disabled {
  background: var(--color-button-bg-disabled);
  color: var(--color-button-text-disabled);
  cursor: default;
}
