---
import type { GetStaticPaths } from 'astro'

import { getCollection, render } from 'astro:content'

import { t } from '@/app/i18n'
import BaseLayout from '@/app/layouts/base-layout.astro'
import { Header } from '@/components/header'
import { filterNotes, NoteHeader } from '@/components/notes'
import Container from '@/shared/ui/container.astro'

const { note } = Astro.props
const { Content } = await render(note)

const title = `${note.data.title} – ${t(Astro.currentLocale, 'fullName')}`
const description = note.data.description

export const getStaticPaths = (async () => {
  const notes = await getCollection('notes')

  return filterNotes(notes).map(note => {
    const [lang, slugWithoutLang] = note.id.split('/')
    return { params: { lang, note: slugWithoutLang }, props: { note } }
  })
}) satisfies GetStaticPaths
---

<BaseLayout title={title} description={description}>
  <Header slot="header" />

  <Container content class="pt-12 pb-28">
    <article>
      <NoteHeader note={note} />

      <div class="markdown pt-12">
        <Content />
      </div>
    </article>
  </Container>
</BaseLayout>
