---
import type { GetStaticPaths } from 'astro'

import { getCollection } from 'astro:content'

import { filterNotes, NoteHeader } from '@/entities/notes'
import { t } from '@/shared/i18n'
import BaseLayout from '@/shared/layouts/base-layout.astro'
import Container from '@/shared/ui/container.astro'
import MarkdownWrapper from '@/shared/ui/markdown-wrapper.astro'
import Header from '@/widgets/header.astro'

const { note } = Astro.props
const { Content } = await note.render()

const title = `${note.data.title} – ${t(Astro.currentLocale, 'fullName')}`
const description = note.data.description

export const getStaticPaths = (async () => {
  const notes = await getCollection('notes')

  return filterNotes(notes).map(note => {
    const [lang, slugWithoutLang] = note.slug.split('/')
    return { params: { lang, note: slugWithoutLang }, props: { note } }
  })
}) satisfies GetStaticPaths
---

<BaseLayout title={title} description={description}>
  <Header slot="header" />

  <Container class="note__container">
    <main>
      <article>
        <NoteHeader note={note} />

        <MarkdownWrapper>
          <Content />
        </MarkdownWrapper>
      </article>
    </main>
  </Container>
</BaseLayout>

<style>
  .note__container {
    --max-width: var(--max-content-width);
    padding-block: 3rem;
  }
</style>
