---
import '@/app/styles/tailwind.css'
import '@/app/styles/colors.css'
import '@/app/styles/fonts.css'
import '@/app/styles/properties.css'
import '@/app/styles/syntax-highlight.css'
import { getLocale } from '@/app/i18n'
import Head from '@/shared/ui/head.astro'

type Props = {
  description?: string
  title: string
}

const { description, title } = Astro.props
const locale = getLocale(Astro.currentLocale)
---

<!doctype html>
<html itemtype="https://schema.org/Person" lang={locale} itemscope transition:animate="none">
  <head>
    <Head title={title} description={description} />
  </head>
  <body>
    <slot name="header" />

    <main id="main" transition:name="main">
      <slot />
    </main>
  </body>
</html>
