---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props
---

<div class:list={['border-alert-border bg-alert text-alert-fg w-full rounded border px-4 py-3', className]} {...props}>
  <slot />
</div>
