---
import { Picture } from 'astro:assets'

import avatar from '@/shared/assets/images/avatar.jpg'
import { getPlaceholderStyles } from '@/shared/functions/getPlaceholderStyles'

const placeholderStyles = await getPlaceholderStyles('src/shared/assets/images/avatar.jpg')
---

<a
  class="border-border focus-ring block size-30 min-w-30 rounded-full border-3"
  href={avatar.src}
  target="_blank"
  rel="noopener noreferrer"
  style={placeholderStyles}
>
  <Picture
    src={avatar}
    formats={['avif', 'webp', 'jpg']}
    alt="Nikita's photo"
    class="pointer-events-none h-full w-full rounded-full text-transparent"
    width={150}
    height={150}
    densities={[1.5, 2]}
    loading="eager"
    quality={90}
    fetchpriority="high"
  />
</a>
