---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'button'> {}

const { class: className, ...props } = Astro.props
---

<button
  class:list={[
    'bg-btn text-btn-fg focus-ring hoverable:bg-btn-hover active:bg-btn-active block cursor-pointer rounded border-none px-12 py-2',
    className
  ]}
  {...props}
>
  <slot />
</button>
