---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {
  content?: boolean
}

const { class: className, content, ...props } = Astro.props

const maxWidthClass = content ? 'max-w-[var(--max-content-width)]' : 'max-w-[var(--max-width)]'
---

<div class:list={['mx-auto h-full w-full px-4', maxWidthClass, className]} {...props}>
  <slot />
</div>
