---
import { t } from '@/app/i18n'
---

<p class="bg-header m-0 p-0 text-center">
  <a
    class="text-fg focus-ring sr-only my-2 inline-block no-underline focus-visible:not-sr-only active:not-sr-only print:hidden"
    href="#main"
  >
    {t(Astro.currentLocale, 'skipLink')}
  </a>
</p>
