---
import { siteInfo } from '../site-info'
import TypographySpan from './typography/typography-span.astro'
---

<div class="flex flex-wrap gap-1" data-nosnippet>
  {
    siteInfo.socialLinks.map(
      ({ name, showOnHomePage, url }) =>
        showOnHomePage && (
          <a
            class="text-fg-muted link-underline focus-ring hoverable:text-fg p-1 opacity-80 transition-colors duration-(--link-hover-duration) [&_span]:text-lg"
            href={url}
            itemprop="sameAs"
            rel="me"
            target="_blank"
          >
            <TypographySpan>{name}</TypographySpan>
          </a>
        )
    )
  }
</div>
