---
import type { HTMLAttributes } from 'astro/types'

import { t } from '@/app/i18n'
import CrossIcon from '@/shared/assets/icons/cross.svg'
import HamburgerIcon from '@/shared/assets/icons/hamburger.svg'
import { getTestId } from '@/shared/functions/getTestId'
import TypographySpan from '@/shared/ui/typography/typography-span.astro'

interface Props extends HTMLAttributes<'button'> {}

const { class: className, ...props } = Astro.props
---

<button
  data-testid={getTestId('open-mobile-menu-button')}
  class:list={[
    'group text-fg focus-ring z-2 inline-flex h-12 cursor-pointer flex-nowrap items-center border-none bg-transparent p-1 sm:hidden',
    className
  ]}
  type="button"
  data-nosnippet
  {...props}
>
  <TypographySpan>{t(Astro.currentLocale, 'menu')}</TypographySpan>
  <HamburgerIcon class="ml-1 hidden h-6 w-6 group-aria-[expanded=false]:block" />
  <CrossIcon class="ml-1 hidden h-6 w-6 group-aria-[expanded=true]:block" />
</button>
