---
import { getRelativeLocaleUrl } from 'astro:i18n'

import { getLocale, t } from '@/app/i18n'
import GlobeIcon from '@/shared/assets/icons/globe.svg'
import { getTestId } from '@/shared/functions/getTestId'
import TypographySpan from '@/shared/ui/typography/typography-span.astro'

const locale = getLocale(Astro.currentLocale)
const toLocale = locale === 'en' ? 'ru' : 'en'

const pathname = Astro.url.pathname.replace(`/${locale}`, '')
---

<a
  data-testid={getTestId('lang-switch-link')}
  class="text-fg focus-ring hoverable:text-menu-hover-fg hoverable:[&_span]:text-menu-hover-fg flex items-center gap-2 p-2 no-underline transition-colors duration-[var(--link-hover-duration)]"
  href={getRelativeLocaleUrl(toLocale, pathname)}
  hreflang={toLocale}
  rel="alternate"
  data-prefetch
>
  <GlobeIcon class="h-4 w-4" />
  <TypographySpan>{t(Astro.currentLocale, 'toLocale')}</TypographySpan>
</a>
