.icons {
  margin-top: 1rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 1.3rem;
  }

  &__list-item {
    list-style-type: none;
  }

  &__link {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: 2px;
    text-decoration: none;

    &:focus-visible {
      box-shadow: 0 0 0 4px var(--color-outline);
      outline: none;
    }
  }

  &__icon {
    width: 100%;
    height: auto;
    color: var(--color-text);
    transition: opacity 0.1s;

    &:hover {
      opacity: 0.8;
    }
  }
}
