@define-mixin colors-light-theme {
  --outline-color: oklch(67.06% 0.163 235.02);

  --c-main-bg: oklch(100% 0 0);

  --c-header-bg: oklch(97.52% 0.003 270.1);
  --c-header-line: oklch(95% 0.006 270.07);

  --c-resume-separator: oklch(0.5544 0.0099 270.07);

  --c-menu-bg: oklch(100% 0 0);
  --c-menu-link-text: var(--c-text-primary);
  --c-menu-link-bg: transparent;
  --c-menu-link-text-hover: oklch(61.67% 0.189 252.84);
  --c-menu-link-bg-hover: oklch(61.67% 0.189 252.84 / 6.27%);

  --c-theme-switcher-bg: oklch(90.06% 0 0);
  --c-theme-switcher-select: oklch(100% 0 0);
  --c-theme-switcher-text: oklch(28.46% 0.008 264.44);
  --c-theme-switcher-border: oklch(95% 0.006 270.07);

  --c-text-primary: oklch(20.97% 0.008 274.53);
  --c-text-secondary: oklch(34.08% 0.016 269.69);
  --c-text-gray: oklch(51.03% 0 0);

  --c-button-bg-origin: oklch(22.21% 0 0);
  --c-button-bg-hover: oklch(52.08% 0 0);
  --c-button-bg-active: oklch(69.93% 0 0);
  --c-button-text: oklch(100% 0 0);
}

@define-mixin colors-dark-theme {
  --outline-color: oklch(67.06% 0.163 235.02);

  --c-main-bg: oklch(22.21% 0 0);

  --c-header-bg: oklch(31.32% 0 0);
  --c-header-line: oklch(61.67% 0 0);

  --c-resume-separator: oklch(61.67% 0 0);

  --c-menu-bg: oklch(21.06% 0.008 269.79);
  --c-menu-link-text: var(--c-text-primary);
  --c-menu-link-bg: transparent;
  --c-menu-link-text-hover: oklch(77.05% 0.116 262.431);
  --c-menu-link-bg-hover: oklch(77.05% 0.116 262.431 / 43.92%);

  --c-theme-switcher-bg: oklch(32.11% 0 0);
  --c-theme-switcher-select: oklch(22.21% 0 0);
  --c-theme-switcher-text: oklch(100% 0 0);
  --c-theme-switcher-border: oklch(61.67% 0 0);

  --c-text-primary: oklch(100% 0 0);
  --c-text-secondary: oklch(81.63% 0.007 270.04);
  --c-text-gray: oklch(81.63% 0 0.04);

  --c-button-bg-origin: oklch(100% 0 0);
  --c-button-bg-hover: oklch(84.83% 0 0);
  --c-button-bg-active: oklch(69.93% 0 0);
  --c-button-text: oklch(22.21% 0 0);
}

:root {
  color-scheme: dark light;

  @media (prefers-color-scheme: light) {
    @mixin colors-light-theme;
  }

  @media (prefers-color-scheme: dark) {
    @mixin colors-dark-theme;
  }
}

.is-light-theme {
  @mixin colors-light-theme;
}

.is-dark-theme {
  @mixin colors-dark-theme;
}

@media print {
  :root {
    @mixin colors-light-theme;
  }
}
