:root {
  --color-white: oklch(100% 0 0);
  --color-black: oklch(0% 0 0);
  --color-blue-200: oklch(50.63% 0.143 252.16);
  --color-dark-500: oklch(22.21% 0 0);
  --color-light-300: oklch(96.03% 0.02 289.08);

  --color-background: var(--color-light-300);
  --color-text: var(--color-dark-500);
  --color-outline: var(--color-blue-200);

  @media (prefers-color-scheme: dark) {
    --color-blue-200: oklch(62.32% 0.11 248.17);

    --color-background: var(--color-dark-500);
    --color-text: var(--color-light-300);
  }
}
