@font-face {
  font-display: fallback;
  font-family: 'Open Sans';
  src: url('../assets/fonts/open-sans/OpenSans-VariableFont.woff2') format('woff2');
}

:root {
  --font-family-main: 'Open Sans', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  @media (min-width: 1024px) {
    --font-size: 24px;
  }
}
