@import './media.css';
@import './mixins.css';

*,
::before,
::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  background-color: var(--c-main-bg);
  font-size: 16px;

  @media (--viewport-small) {
    & {
      font-size: 18px;
    }
  }

  @media (--viewport-large) {
    & {
      font-size: 20px;
    }
  }
}

body {
  line-height: var(--line-height);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
}

main {
  scroll-margin-top: 2rem;
}

p {
  margin: 0;
  padding-block: 0.5rem;
}

.clip {
  overflow: hidden;
}

.visually-hidden {
  @mixin visually-hidden;
}

@media (--viewport-small) {
  html {
    font-size: 18px;
  }
}

@media (--viewport-large) {
  html {
    font-size: 20px;
  }
}
