---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'p'> {}

const { class: className, ...props } = Astro.props
---

<p class:list={['typography-p', className || '']} {...props}>
  <slot />
</p>

<style>
  @import '../../styles/mixins.css';

  .typography-p {
    margin: 0;
    color: var(--c-text-primary);
    font-family: var(--font-family-base);
    font-size: var(--text-base);
    font-weight: 400;
    line-height: var(--text-base--line-height);
  }
</style>
