---
type Props = {
  text: string
}

const text = Astro.props.text
---

<h2 class="section-header">{text}</h2>

<style>
  .section-header {
    padding: 0.5rem 0;
    border-top: 1px solid var(--c-resume-separator);
    margin: 0;
    font-size: var(--font-size-xl);
    line-height: 1;

    &:not(:first-of-type) {
      margin-top: 0.5rem;
    }
  }
</style>
