---
type Props = {
  text: string
}

const text = Astro.props.text
---

<h2 class="section-header">{text}</h2>

<style>
  .section-header {
    margin: 1rem 0 0 0;
    font-size: var(--font-size-2xl);

    &:not(:first-of-type) {
      margin-top: 2rem;
    }
  }
</style>
