---
import { getCollection } from 'astro:content'

import { getLocale, t } from '@/i18n'
import { getCareerDurationInMonths } from '@/utils/functions/getCareerDurationInMonths'
import { getDurationTextFromMonths } from '@/utils/functions/getDurationTextFromMonths'
import { replaceTextVars } from '@/utils/functions/replaceTextVars'

const locale = getLocale(Astro.currentLocale)
const resumeCollection = await getCollection('resume')

const positions = resumeCollection
  .filter(p => p.slug.startsWith(`${locale}/`))
  .sort((a, b) => Number(b.data.dateStart) - Number(a.data.dateStart))

const experienceMonths = getCareerDurationInMonths(
  positions.map(position => {
    return {
      dateEnd: position.data.dateEnd,
      dateStart: position.data.dateStart,
      isCurrent: position.data.isCurrent
    }
  })
)

const experienceDevelopmentMonths = getCareerDurationInMonths(
  positions
    .filter(position => position.data.isDevelopment)
    .map(position => {
      return {
        dateEnd: position.data.dateEnd,
        dateStart: position.data.dateStart,
        isCurrent: position.data.isCurrent
      }
    })
)

const experienceText = getDurationTextFromMonths(experienceMonths, locale)
const experienceDevelopmentText = getDurationTextFromMonths(experienceDevelopmentMonths, locale)
---

<p>
  {
    replaceTextVars(t(Astro.currentLocale, 'experienceLine'), {
      '@experience@': experienceText,
      '@experienceDev@': experienceDevelopmentText
    })
  }
</p>
