---
import { Icon } from 'astro-icon/components'

import { siteInfo } from '@/data/site-info'
import { t } from '@/i18n'
---

<header class="header">
  <div class="profile">
    <h1 class="name">
      {t(Astro.currentLocale, 'fullName')}
    </h1>
    <p class="location">{t(Astro.currentLocale, 'location')}</p>
  </div>

  <div class="contacts">
    <ul class="contacts-list">
      {
        siteInfo.socialLinks.map(({ content, id, name, showOnResumePage, url }) => {
          return (
            showOnResumePage && (
              <li class="contacts-item">
                <Icon class="" name={id} aria-hidden="true" />
                <a
                  class="contacts-link"
                  href={url}
                  itemprop={name === 'Email' || name === 'E-mail' ? 'email' : 'sameAs'}
                  rel="me"
                  target="_blank"
                >
                  {content}
                </a>
              </li>
            )
          )
        })
      }
    </ul>
  </div>
</header>

<style>
  @import '../../styles/mixins.css';
  @import '../../styles/media.css';

  .header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    gap: 0.4rem;
    text-align: center;

    & p {
      max-width: none;
    }
  }

  .name {
    margin: 0;
    font-size: var(--font-size-3xl);
    line-height: 1.25;
  }

  .location {
    max-width: none;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-base);
  }

  .contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    font-size: var(--font-size-xs);
    gap: 0.5rem;
    list-style-type: none;
  }

  .contacts-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    & a {
      font-size: var(--font-size-xs);
    }
  }

  .contacts-link {
    @mixin link-underline;
    @mixin focus;

    color: var(--c-text-primary);
  }

  @media print {
    .contacts-link {
      text-decoration-thickness: 1px;
    }
  }
</style>
