---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'h3'> {}

const { class: className, ...props } = Astro.props
---

<h3 class:list={['text-fg font-heading text-2xl font-semibold text-balance', className]} {...props}>
  <slot />
</h3>
