@font-face {
  font-weight: 100 900;
  font-family: 'Inter Variable';
  font-style: oblique 0deg 10deg;
  font-display: swap;
  src: url('/fonts/Inter-Variable.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'EB Garamond SemiBold';
  font-display: swap;
  src: url('/fonts/EBGaramond-SemiBold.woff2') format('woff2');
}

:root {
  --font-family-heading: 'EB Garamond SemiBold', Georgia, ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-family-base: 'Inter Variable', ui-sans-serif, system-ui, sans-serif;
  --font-family-mono: monospace;
}
