---
import BaseLayout from '@/layouts/base-layout.astro'
---

<BaseLayout title="Nikita Chernov"><h1>Font check</h1><h1>Проверка шрифта</h1></BaseLayout>

<style>
  h1 {
    font-size: 50px;
    color: rgb(40, 40, 41);
    font-family: var(--font-family-base);
    font-weight: 400;
  }
</style>
