---
import Container from '@/components/container.astro'
import BaseLayout from '@/layouts/base-layout.astro'
---

<BaseLayout title="Nikita Chernov">
  <Container>Main content <a href="#main-link">Link</a></Container>
</BaseLayout>
