---
import { siteInfo } from '@/data/site-info'
import { getLocale } from '@/utils/functions'

export type Props = {
  title: string
}

const { title } = Astro.props
const { description } = siteInfo.localizations[getLocale(Astro.currentLocale)]
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<link rel="preload" href="/fonts/Inter-Variable.woff2" crossorigin as="font" type="font/woff2" />

<title>{title}</title>

<script is:inline>
  const theme = localStorage.getItem('color-theme')
  if (!theme) {
    localStorage.setItem('color-theme', 'auto')
  } else {
    document.documentElement.classList.toggle('is-dark-theme', theme === 'dark')
    document.documentElement.classList.toggle('is-light-theme', theme === 'light')
  }
</script>
