---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'div'> {}

const { class: className, ...props } = Astro.props
---

<div class:list={['markdown-wrapper', className || '']} {...props}>
  <slot />
</div>

<style>
  @import '@/styles/mixins.css';

  .markdown-wrapper {
    color: var(--c-text-primary);

    & :global(h2, h3, h4) {
      font-family: var(--font-family-heading);
      font-weight: 600;
    }

    & :global(h2) {
      margin: 2rem 0 1rem;
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }

    & :global(h3) {
      margin: 1.5rem 0 1rem;
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    & :global(h4) {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
    }

    & :global(p, li) {
      margin: 0;
      color: var(--c-text-primary);
      font-family: var(--font-family-base);
      font-size: var(--text-base);
      font-weight: 400;
      line-height: var(--text-base--line-height);
    }

    & :global(ul, ol) {
      padding-left: 1.25rem;
      margin: 0.5rem 0 0 0;
    }

    & :global(li:not(:first-child)) {
      margin-top: 0.25rem;
    }

    & :global(a) {
      @mixin link-underline;
      @mixin focus;

      color: var(--c-text-secondary);

      @media (hover: hover) {
        &:hover {
          color: var(--c-text-primary);
        }
      }
    }

    & :global(strong) {
      font-weight: 600;
    }
  }
</style>
