---
import { t } from '@/i18n'
---

<p class="text">
  <a class="link" href="#main">{t(Astro.currentLocale, 'skipLink')}</a>
</p>

<style>
  @import '../styles//mixins.css';

  .text {
    padding: 0;
    background: var(--c-header-bg);
    text-align: center;
  }

  .link {
    @mixin focus;

    display: inline-block;
    color: var(--c-text-primary);
    margin-block: 0.5rem;
    text-decoration: none;
  }

  .link:not(:active, :focus-visible) {
    @mixin visually-hidden;
  }

  @media print {
    .text {
      display: none;
    }
  }
</style>
