---
import { siteInfo } from '@/data/site-info'
---

<div class="social-links">
  {
    siteInfo.socialLinks.map(({ name, url }) => (
      <a class="social-link" href={url} rel="me" target="_blank">
        {name}
      </a>
    ))
  }
</div>

<style>
  @import '../styles/mixins.css';

  .social-links {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  .social-link {
    @mixin link-underline;
    @mixin focus;

    padding: 0.25rem;
    color: var(--c-text-secondary);
    font-size: var(--font-size-lg);
    opacity: 0.8;
    transition: color var(--link-hover-duration);

    @media (hover: hover) {
      &:hover {
        color: var(--c-text-primary);
      }
    }
  }
</style>
