---

---

<section class="switcher">Theme switcher</section>

<style>
  .switcher {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    min-width: 14rem;
    background: #000;
    color: #fff;
  }
</style>
