---
import type { GetStaticPaths } from 'astro'

import Avatar from '@/components/avatar.astro'
import Container from '@/components/container.astro'
import SocialLinks from '@/components/social-links.astro'
import TypographyH1 from '@/components/typography/TypographyH1.astro'
import TypographyP from '@/components/typography/TypographyP.astro'
import { t } from '@/i18n'
import BaseLayout from '@/layouts/base-layout.astro'

export const getStaticPaths = (async () => [
  { params: { lang: 'ru' } },
  { params: { lang: 'en' } }
]) satisfies GetStaticPaths
---

<BaseLayout title={t(Astro.currentLocale, 'fullName')}>
  <Container class="home-container">
    <div class="home-content">
      <Avatar />
      <TypographyH1 class="header">
        <span itemprop="givenName">{t(Astro.currentLocale, 'givenName')}</span>
        <span itemprop="familyName">{t(Astro.currentLocale, 'familyName')}</span>
      </TypographyH1>

      <TypographyP class="intro-text">
        {t(Astro.currentLocale, 'intro')}
      </TypographyP>

      <SocialLinks />
    </div>
  </Container>
</BaseLayout>

<style>
  .header {
    font-size: 4rem;
    line-height: 1;
  }

  .home-container {
    display: flex;
    min-height: calc(100dvh - var(--header-height));
    flex-direction: column;
    justify-content: center;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    margin-top: -5rem;
    gap: 0.5rem;
  }

  .intro-text {
    max-width: var(--max-text-width);
    font-size: 1.1rem;
    text-wrap: balance;
  }

  @media (orientation: portrait) {
    .home-content {
      margin-top: 0rem;
    }
  }

  @media (orientation: landscape) and (max-height: 500px) {
    .home-content {
      flex-direction: row;
      margin-top: 0rem;
    }
  }
</style>
