---
import type { GetStaticPaths } from 'astro'

import Container from '@/components/container.astro'
import SocialLinks from '@/components/social-links.astro'
import { t } from '@/i18n'
import BaseLayout from '@/layouts/base-layout.astro'

export const getStaticPaths = (async () => [
  { params: { lang: 'ru' } },
  { params: { lang: 'en' } }
]) satisfies GetStaticPaths
---

<BaseLayout title={t(Astro.currentLocale, 'fullName')}>
  <Container class="home-container">
    <div class="home-content">
      <h1 class="header">
        <span itemprop="givenName">{t(Astro.currentLocale, 'givenName')}</span>
        <span itemprop="familyName">{t(Astro.currentLocale, 'familyName')}</span>
      </h1>
      <p class="intro">
        {t(Astro.currentLocale, 'intro')}
      </p>
      <SocialLinks />
    </div>
  </Container>
</BaseLayout>

<style>
  .header {
    margin: 0 0 0.5rem 0;
    color: var(--c-text-primary);
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
  }

  .home-container {
    display: flex;
    min-height: calc(100dvh - var(--header-height));
    flex-direction: column;
    justify-content: center;
  }

  .home-content {
    margin-top: -3rem;
  }

  .intro {
    max-width: var(--max-text-width);
    padding: 0;
    color: var(--c-text-primary);
    font-size: var(--font-size-lg);
    text-wrap: balance;
  }

  @media (orientation: landscape) and (max-height: 414px) {
    .home-content {
      margin-top: 0rem;
    }
  }
</style>
