---
import type { GetStaticPaths } from 'astro'

import { supportedLocales, t } from '@/app/i18n'
import BaseLayout from '@/app/layouts/base-layout.astro'
import { Header } from '@/components/header'
import Avatar from '@/shared/ui/avatar.astro'
import Container from '@/shared/ui/container.astro'
import SocialLinks from '@/shared/ui/social-links.astro'
import TypographyH1 from '@/shared/ui/typography/typography-h1.astro'
import TypographyP from '@/shared/ui/typography/typography-p.astro'

export const getStaticPaths = (async () =>
  supportedLocales.map(lang => ({ params: { lang } }))) satisfies GetStaticPaths
---

<BaseLayout title={t(Astro.currentLocale, 'fullName')}>
  <Header slot="header" />

  <Container content class="flex min-h-[calc(100dvh-var(--header-height))] flex-col justify-center">
    <div class="flex flex-col gap-2 portrait:mt-0 [@media(orientation:landscape)_and_(max-height:500px)]:flex-row">
      <Avatar />
      <TypographyH1 class="[&>span]:text-[4rem] [&>span]:leading-none">
        <span itemprop="givenName">{t(Astro.currentLocale, 'givenName')}</span>
        <span itemprop="familyName">{t(Astro.currentLocale, 'familyName')}</span>
      </TypographyH1>

      <TypographyP class="max-w-150 text-lg font-normal text-balance">
        {t(Astro.currentLocale, 'intro')}
      </TypographyP>

      <SocialLinks />
    </div>
  </Container>
</BaseLayout>
