---
import { Icon } from 'astro-icon/components'

import { t } from '@/app/i18n'
import { siteInfo } from '@/shared/site-info'
import TypographyH1 from '@/shared/ui/typography/typography-h1.astro'
import TypographySpan from '@/shared/ui/typography/typography-span.astro'
---

<header class="flex flex-col justify-between gap-1.5 pb-4 text-center [&_p]:max-w-none">
  <div>
    <TypographyH1 class="text-3xl">{t(Astro.currentLocale, 'fullName')}</TypographyH1>
    <TypographySpan class="font-heading">{t(Astro.currentLocale, 'location')}</TypographySpan>
  </div>

  <div>
    <ul class="mt-1 flex list-none flex-wrap justify-center gap-2">
      {
        siteInfo.socialLinks.map(({ content, id, name, showOnResumePage, url }) => {
          return (
            showOnResumePage && (
              <li class="flex items-center gap-1 [&_span]:text-[0.8125rem] [&_svg]:size-3">
                <Icon name={id} aria-hidden="true" />
                <a
                  class="text-fg link-underline focus-ring print:decoration-1"
                  href={url}
                  itemprop={name === 'Email' || name === 'E-mail' ? 'email' : 'sameAs'}
                  rel="me"
                  target="_blank"
                >
                  <TypographySpan>{content}</TypographySpan>
                </a>
              </li>
            )
          )
        })
      }
    </ul>
  </div>
</header>
