name: Test

on:
  push:
    branches:
      - main
      - preview
      - dev
jobs:
  test:
    timeout-minutes: 20
    name: Test
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.57.0-noble

    steps:
      - name: Install Git LFS
        run: |
          apt-get update
          apt-get install -y git-lfs
          git lfs install

      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm

      - name: Install dependencies
        run: pnpm i

      - name: Test against linters
        run: pnpm lint

      - name: Run Playwright tests
        run: pnpm exec playwright test
        env:
          SITE_URL: http://localhost:4321
          CI: true

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
